services:
  - type: web
    name: ibrood
    env: docker
    region: oregon
    plan: free
    dockerfilePath: ./Dockerfile
    envVars:
      - key: NODE_ENV
        value: production
      - key: FLASK_ENV
        value: production
      - key: PORT
        value: 3000
      - key: API_URL
        value: http://localhost:5000