services:
  - type: web
    name: ibrood
    env: docker
    region: oregon
    plan: free
    dockerfilePath: ./Dockerfile
    envVars:
      - key: NODE_ENV
        value: production
      - key: FLASK_ENV
        value: production
      - key: API_URL
        value: https://ibrood.onrender.com
