__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis

.DS_Store
.vscode
*.swp
*.swo

# Model files (except the one we need)
*.pt
!best-seg.pt
!best-od.pt

# Documentation
*.md
!README.md